body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/10_background/background.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

canvas {
    filter: drop-shadow(0 0 0.75rem white);
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-position: right;
    background-size: cover;
}

.canvas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 720px;
}

.game-over {
    background-image: url("img/9_intro_outro_screens/game_over/game over.png");
    background-position: center;
    background-size: cover;
    z-index: 1000;
}


#start-button {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #FA6F28;
    background-color: #FFDC03;
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 10px;
}

#start-button:hover {
    cursor: pointer;
    background-color: #FA6F28;
    color: #FFDC03;
}

.keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: solid 2px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 10px;
    background-color: #FFAE00;

}

.key {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 6px;
    letter-spacing: 1px;
}

.gap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.description {
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

h1 {
    font-size: 56px;
    letter-spacing: 3px;
    margin-block-start: 0;
    color: blanchedalmond;
    background-color: #FFAE00;
    padding: 8px 16px;
    border-radius: 10px;
}

h2{
    font-size: 72px;
    letter-spacing: 6px;
    color: black;
    margin-block-end: 0;
}

.win-container {
    background-color:#FFAE00;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    filter: drop-shadow(0 0 0.75rem white);
}

.coin-number-info {
    font-size: 24px;
    letter-spacing: 1px;
}

.d-none {
    display: none !important;
}

.panels {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 330px;

}

.panel-img {
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    padding:12px;
    border-radius: 50%;
}

.panels1 {
    display: flex;
    gap: 20px;
}


.panels2 {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 720px) {
    .canvas {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }


    .keyboard {
        display: none;
    }

    .panels {
        display: flex !important;
    }

}

@media only screen and (max-height: 480px) {
    .canvas {
        height: 100vh;
    }

    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .keyboard {
        display: none;
    }

}